.storybook-button {
  border: 0;
  width: 327px;
  height: 61px;

  /* Brand/Primary */
  background: #2a3dd9;
  border-radius: 222px;

  
  font-weight: 700;
  font-size: 16px;
  line-height: 21.6px;
  text-align: center;

  cursor: pointer;

  

  color: #ffffff;
}
/* .storybook-button--primary {
  
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
} */
